<div id="header">
    <div id="logo" onclick="location.href = '/CityFinder/index';">
        <span id="text_city">City</span>
        <span id="text_finder">Admin</span>
    </div>

    <div id="navigationBar">
        <ul>
            <li><a href="/CityFinder/createCity">Create City</a></li>
            <li><a href="/CityFinder/createData">Add Data</a></li>
        </ul>
    </div>

    <a id="sidelinks" href="/CityFinder/adminRegister">Admin Register</a>
    <a id="sidelinks" href="/CityFinder/login">Login</a>
    

</div>